h1{
    color:rgb(127, 255, 255);
    border: solid;
}

/**{
    border: solid;
    color: black;
}*/

.McLaren{
    background-color: cadetblue;
}

.NissenGTR{
    margin-left: 1400px;
}

body{
    background-color: rgb(189, 34, 86);
}

.BMW{
    margin-left: 1400PX;
}

.benz{
    margin-left: 1400px;
}

h1{
    color: white;
    margin-left: 800px;
    margin-right: 760px;
    padding-top: 100px;
    padding-bottom: 100px;
}